#### IMAGE VERSIONS ####
FRONTEND_VERSION=latest
BACKEND_VERSION=latest
MARIADB_VERSION=latest

#### IMAGE NAMES ####
FRONTEND_IMAGE=manacccc/projet-immo-fe
BACKEND_IMAGE=manacccc/projet-immo-be
MARIADB_IMAGE=mariadb

#### CONTAINER NAMES ####
FRONTEND_CONTAINER=projetimmo-frontend
BACKEND_CONTAINER=projetimmo-backend
MARIADB_CONTAINER=maria-db
TRAEFIK_CONTAINER=traefik

#### NETWORK CONFIGURATION ####
NETWORK_NAME=immo-network

#### MARIADB ####
DB_PASSWORD=dbpassword
DB_DATABASE=bdimmo

#### API CONFIGURATION ####
API_PORT=8888
API_BASE_URL="https://projetImmo-backend.manacgrace.duckdns.org"

#### DOMAIN CONFIGURATION ####
MY_DOMAIN=manacgrace.duckdns.org
FRONTEND_SUBDOMAIN=projetImmo
BACKEND_SUBDOMAIN=projetImmo-backend

#### DUCK DNS ####
DUCKDNS_TOKEN=713e28cc-f79f-43f4-9bc0-4379d3d5555

#### SSL CONFIGURATION ####
ACME_EMAIL=mail@mail.com
ACME_RESOLVERS=1.1.1.1:53,8.8.8.8:53